birthday.anarres.dev {
    root * /var/www/30s-birthday
    encode gzip

    @htmlext path_regexp ext (.+)\.html$
    redir @htmlext /{re.ext.1} permanent

    try_files {path} {path}.html {path}/index.html
    file_server
}
